body {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
}

#file_buttons {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

#file_buttons label {
    margin-left: 10px;
    margin-right: 10px;
}

/*pre {*/
/*    overflow: scroll;*/
/*    height: 70vh;*/
/*}*/

#graphAndCode {
    height:70vh;
    background: #eee;
    border-radius: 5px;
    margin-left: 16px;
    margin-right: 16px;
}

.graph.screen {
    overflow: scroll;
    height:70vh;
    float: left;
}

.code.screen {
    overflow: scroll;
    height:70vh;
    float: right;
}

.screen {
    width: 50%;
}

#div3 {
    height:20vh;
}

/* Style buttons */
.file_btn {
    background-color: #727272; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 15px;
    box-shadow: 3px 3px 12px 2px #c7c7c7;
}

/* Darker background on mouse-over */
.file_btn:hover {
    background-color: RoyalBlue;
}

/* Style buttons */
.view_btn {
    background-color: #eee; /* Blue background */
    border: none; /* Remove borders */
    color: black; /* Black text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

#graph-btn {
    border-top-left-radius: 15px;
}

#code-btn {
    border-top-right-radius: 15px;
}

/* Darker background on mouse-over */
.view_btn:hover {
    color: white;
    background-color: RoyalBlue;
}

.container {
    display: flex;
}

.d-row {
    flex-direction: row;
    flex-wrap: nowrap;
}

.d-col {
    flex-direction: column;
    flex-wrap: nowrap;
}

.d-center {
    justify-content: center;
}


.graph, .code, .code:before, .graph:before {
    transition: 1000ms all ease-in-out;
}
