body {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
}

#file_buttons {
    margin: 30px;
    text-align: center;
    vertical-align: middle;
}

/*pre {*/
/*    overflow: scroll;*/
/*    height: 70vh;*/
/*}*/

#graphAndCode {
    height:70vh;
    background: #eee;
    border-radius: 5px;
    margin-left: 16px;
    margin-right: 16px;
}

#graph {
    overflow: scroll;
    width: 50vw;
    height:70vh;
    float: left;
}

#code {
    overflow: scroll;
    width: 45vw;
    height:70vh;
    float: right;
}

#div3 {
    height:20vh;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 15px;
    box-shadow: 3px 3px 12px 2px #83adc9;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

#file_buttons label {
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    display: flex;
}

.d-row {
    flex-direction: row;
    flex-wrap: nowrap;
}

.d-col {
    flex-direction: column;
    flex-wrap: nowrap;
}

.d-center {
    justify-content: center;
}
